@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>
    We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>
            Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards. <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn
            more…</a> </li>
    <li class="two">
        <h5>
            Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools. <a href="http://go.microsoft.com/fwlink/?LinkId=245153">
            Learn more…</a> </li>
    <li class="three">
        <h5>
            Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications. <a href="http://go.microsoft.com/fwlink/?LinkId=245157">
            Learn more…</a> </li>
    <li class="four">
        <select id="selMethods">
            <option value="GET">GET</option>
            <option value="POST">POST</option>
            <option value="PUT">PUT</option>
        </select>
        <a href="javascript:sendRequest();">Test with ajax request.</a> </li>
</ol>
<script>
    function sendRequest() {
        var method = $('#selMethods').val();
        var serviceUrl = "http://localhost:60049/api/Values/"
        var p1 = Math.floor((Math.random() * 100) + 1);
        var contactID = Math.floor((Math.random() * 1000000) + 1);
        var _data = { ContactID: contactID };

        if (method == "GET") {
            serviceUrl = serviceUrl + "TestGet?p1=" + p1 + "&ContactID=" + _data.ContactID + "&Name=testget";
            _data = {};
        }
        else if (method == "POST") {
            serviceUrl = serviceUrl + "TestPost?p1=" + p1;
            _data.Name = "testpost";
        }
        else if (method == "PUT") {
            serviceUrl = serviceUrl + "TestPut?p1=" + p1;
            _data.Name = "testput";
        }
        $.ajax({
            type: method,
            url: serviceUrl,
            datatype: "json",
            data: _data,
            success: function (re) {
                console.log("success");
                console.log(re);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("error");
                console.log(textStatus);
            }
        });
//        $.ajax({
//            type: method,
//            url: serviceUrl
//        }).done(function (data) {
//            $('#value1').text(data);
//        }).error(function (jqXHR, textStatus, errorThrown) {
//            $('#value1').text(jqXHR.responseText || textStatus);
//        });
    }
</script>
